table, th, td, tr {
    border: 1px solid;
  }
th {
    fill: gray;
}
tr:hover {background-color: paleturquoise;}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    display: flex;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    display: flex;
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .collapsible_content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
/* Style the spinal_level_button */
.spinal_level_button {
  background-color: blanchedalmond;
}
/* style Filter button */
#filter{
  background-color: green;
  font-size: 16;
}